{% extends "base.html" %}
{% load static %}

{% block head_title %} {{ block.super }} {% endblock %}

{% block css_content %}
<link rel="stylesheet" href='{% static "css/home.css" %}'>
{% endblock %}

{% block content %}

<!--
        <h1 align="center">HAZTE CON TODO</h1>
        <div align="center">
        </div>
-->
    <hr>

    <div class="container">
        {%for obj in subastas %}
            <div class="col-lg-4 col-md-6 col-sm-6" style="height:400px;">
                <div class="card h-100">

                    {% if not obj.tiene_img %}

                        <a href="{{ obj.get_absolute_url }}"><img class="img-responsive center-block"  src='{% static "img/noimage.jpg" %}' style="height:120px; width:120px;" ></a>

                    {% else %}

                        <a href="{{ obj.get_absolute_url }}"><img class="img-responsive center-block" src="{{ obj.imagenes.first.thumbnail.url }}" style="height:120px; width:120px;"></a>

                    {% endif %}

                    <div class="card-body" align="center" style="height:120px;">
                        <h4 class="card-title">
                            <a href='{{ obj.get_absolute_url }}'>{{ obj.titulo }}</a>
                        </h4>
                        <h5>{{ obj.precio }}€</h5>
                        {{ obj.descripcion | linebreaks }}
                    </div>

                </div>


            </div>
        {% endfor %}

    </div>

    <div align="center">
        <div class="pagination">
            <span class="step-links">
                {% if subastas.has_previous %}
                    <a href="?page={{ subastas.previous_page_number }}">Anterior</a>
                {% endif %}

                <span class="current">
                    Pagina {{ subastas.number }} de {{ subastas.paginator.num_pages }}.
                </span>

                {% if subastas.has_next %}
                    <a href="?pagina={{ subastas.next_page_number }}">Siguiente</a>
                {% endif %}
            </span>
        </div>
    </div>

{% endblock content %}
