@media (min-width: 992px) {
      body {
        padding-top: 56px;
      }
}

h4 {
    font-family: 'Poppins', sans-serif;
    color: #5DADE2;
    font-size: 30px;
}

p {
     width: 250px;
     max-height: 100px;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
}
