<h1 style="font-size: 1.5em; line-height: 2em;">Puja en {{ subasta.titulo }}.</h1>

<p>Le informamos que su puja en la subasta
    <a href="{{ subasta.get_absolute_url }}"> {{ subasta.titulo }} </a>
    se ha realizado correctaente</p>

<p>Si usted desea revisar el perfil del vendedor lo puede realizar clicando en su nick: {{ usuario.username }}</p>

<br><br>

<p>Muchas gracias por confiar en nosotros, si tiene cualquier duda o problema no dude en contactar con nosotros mediante
 nuestro correo: haztecontodo_support@gmail.com </p>
