{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h2>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Cambiar contraseña" %}{% endif %}</h2>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}El link para restablecer su contraseña es invalido, posiblemente ya haya sido usado.  Por favor pida un <a href="{{ passwd_reset_url }}">nuevo restablecimiento de contraseña</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="action" value="{% trans 'Cambiar contraseña' %}"/>
            </form>
        {% else %}
            <p>{% trans 'Su contraseña ha sido actualizada.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
