{% extends "base.html" %}
{% load static %}

{% block head_title %} {{ block.super }} {% endblock %}

{% block css_content %}

{% endblock %}

{% block content %}

<div class="container">

    <p>Este sitio web nace con el objetivo de cumplir los requisitos esperados para un proyecto de fin de grado.</p>

    <p>Su autor, Jorge Castilla Maldonado, ha realizado el desarrollo íntegro de la aplicación web, bajo la supervisión de un tutor docente.</p>

    <p>Tanto el código como la memoria de este proyecto del Grado en Ingeniería Informática de la Universidad de Granada, puede encontrarse en
        el siguiente repositorio de GitHub: <a href="https://github.com/jorgeeecm/HazteConTodo"> https://github.com/jorgeeecm/HazteConTodo </a></p>


</div>

{% endblock content %}
